<%- include("partials/header.ejs") %>



<link rel="stylesheet" href="/stylesheets/app.css">

<div  id="landing-header">
   
    <h1>Welcome to Taxify   
    </h1>
    
    <a href="/drivers" class="btn btn-lg btn-success">view all drivers</a>


</div>


<%- include("partials/footer.ejs") %>